/* Style the video: 100% width and height to cover the entire window */
/* css-tricks.com/should-i-use-a-video-as-a-background/ */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
}

.overlay_bg_vid { /* Someone figure out the overlay*/

}